<div class="content">
    <div class="spacer"></div>
    <div class="user-info">
        <div class="user-pic">
            <p>will need to reference users pic</p>
        </div>
        <p class="user-name"><%= @user.username %></p>
    </div>

    <div class="spacer"></div>

    <%= link_to "Find A Challenge", new_game_path, class: "button red" %>

    <%= link_to "Manage Account", edit_user_path, class: "button blue" %>

    <%= link_to "View Past Challenges", games_path, class: "button yellow" %>

    <div class="spacer"></div>

</div>
