<div class="content">
    <div class="spacer"></div>
    <div class="user-info">
        <div class="user-pic">
            <p>will need to reference users pic</p>
        </div>
        <p class="user-name"><%= @user.username %></p>
    </div>

    <div class="spacer"></div>

    <a href="test.com">
        <div class="button red" href="test.com">
            <p>Find A Challenge</p>
        </div>
    </a>

    <a href="test.com">
        <div class="button blue">
            <p>Manage Account</p>
        </div>
    </a>

    <a href="test.com">
        <div class="button yellow">
            <p class="black-text">View Past Challenges</p>
        </div>
    </a>

    <div class="spacer"></div>

</div>