// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
    --ourRed: #9e0530;
    --ourBlue: #3933d1;
    --ourYellow: #F6FF00;
    --font: Helvetica, sans-serif;
}

html {
    font-family: var(--font);
    background: linear-gradient(180deg, #113574 0%, hsl(348, 69%, 8%) 100%);
    color: white;
}

h1 {
    text-align: center;
}

header {
    font-size: 30px;
}
section {
    width: 100%;
    padding-top: 2em;
    display: flex;
    justify-content: center;
}
label {
    padding: 1em;
}

.button {
    margin: 1em auto;
    float: middle;
    padding: 1em;
    width: 20%;
    background-color: var(--ourBlue);
    color: white;
    border-radius: 15px;
}

#id {
    color: red;
}